/* common translation module styles */
.translation-module * {
    box-sizing: border-box;
}

.translation-module h1 {
    padding: 0 0 0.4em 0;
    font-size: 2em;
    color: #84BD00;
    border-bottom: 0.05em solid #DADADA;
}

.translation-module ul {
    padding: 0;
    margin: 0;
}

.translation-module ul li {
    list-style-type: none;
}

.translation-module .center {
    text-align: center;
}

.translation-module input[type=button],
.translation-module a.button {
    background-color: #d9d9d9;
    border: 0.08em solid #d9d9d9;
    border-radius: 0.24em;
    color: #00629b;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
}

.translation-module input[type=button]:hover,
.translation-module a.button:hover {
    background-color: #eee;
    border: 0.08em solid #ccc;
    white-space: nowrap;
}

.translation-module input[type=button][disabled] {
    color: #fff;
    background-color: #efefef;
    cursor: default;
}

.translation-module a:active {
    color: #3AB5CF;
}

.translation-module table {
    margin-bottom: 0.5em;
}

.translation-module .table_title_description {
    padding-top: 0;
}

.translation-module .input-holder {
    padding: 0.4em;
}

.translation-module ul.multi-select {
    max-height: 27.5em;
    overflow-y: auto;
    padding: 0.80em 0.40em;
    border: 0.08em solid #A5AEB5;
    min-width: 20.5em;
    max-width: 61.5em;
}

.translation-module input[name="locale-to[]"][disabled]+label {
    color: #bbbbbb;
}

.translation-module .hidden {
    display: none;
}

.translation-module .submit-error {
    margin: 1em;
    color: #f00;
    padding-right: 3em;
}

.translation-module form {
    margin: 0;
    padding: 0;
}

.translation-module input[type=text],
.translation-module select {
    min-width: 19em;
    padding: 0.12em;
    border: 0.08em solid #A5AEB5;
}

.translation-module textarea.error-field,
.translation-module input[type=text].error-field,
.translation-module select.error-field {
    border-color: #f00;
}

.translation-module .checkbox-label {
    position: relative;
    top: -0.12em;
    padding-right: 0.9em;
}

.translation-module .field-holder.title-holder {
    border-bottom: 0.08em solid #DADADA;
    margin-bottom: 0.5em;
    background-color: #F5F5F5;
}

.translation-module .field-holder.title-holder.no-fields {
    margin-bottom: 0;
    border-bottom: medium none;
}

.translation-module h2 {
    margin: 0.25em;
    font-size: 1.1em;
    font-weight: normal;
    text-transform: none;
    font-weight: bold;
}

.translation-module .form-holder {
    border: 0.08em solid #DADADA;
    margin-top: 1em;
}

.translation-module .field-holder {
    overflow: hidden;
    padding: 0.5em;
}

.translation-module .field-holder .label-holder {
    float: left;
    min-width: 12em;
    font-weight: bold;
    text-align: right;
    padding-right: 0.8em;
}

.translation-module .field-holder .input-holder {
    float: left;
}

.translation-module .field-holder.button-holder {
    border-top: 0.08em solid #DADADA;
    text-align: right;
}

.translation-module .field-holder.button-holder.left {
    text-align: left;
}

.translation-module .attributes-main .attributes-holder {
    overflow-x: hidden;
    max-height: 20em;
    overflow-y: auto;
}

.translation-module .attributes-main .attributes-holder>li {
    float: left;
    min-width: 25em;
    padding-left: 0.8em;
}

.translation-module .right {
    text-align: right;
}

.translation-module .capitalize {
    text-transform: capitalize;
}

.translation-module .relative {
    position: relative;
}

.translation-module .relative .ajax-loader {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.translation-module .relative .ajax-loader.show {
    display: block;
}

.translation-module .relative .ajax-loader img {
    margin: 10em auto;
    display: block;
}

.translation-module .button.main-action,
.translation-module input[type=button].main-action {
    font-size: 1.3em;
    padding: 0.3em 1.5em;
}

#bm_header_row .sod_select:after {
    bottom: 0;
}

/* New translation page */
.new-translation,
.default-attributes {
    margin: 0 auto;
    padding: 0.8em;
    font-size: 1em;
}

.new-translation .field-holder.catalog-list {
    display: none;
}

.new-translation .field-holder.catalog-list.show {
    display: block;
}

.new-translation .attributes-main .attributes-holder>li:not(.default) {
    display: none;
}

.new-translation .attributes-main .attributes-holder>li.show-all-attributes {
    display: block;
    width: 100%;
    padding-top: 0.8em;
    text-align: right;
}

.new-translation .attributes-main .attributes-holder.show-all>li {
    display: block;
}

.new-translation .attributes-main .attributes-holder.show-all>li.show-all-attributes {
    display: none;
}

.new-translation #items-holder {
    padding: 0 0.5em 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 31em;
}

.new-translation #items-holder .item-label {
    display: block;
    margin: 0;
    padding: 5;
}

.new-translation #items-holder .table_detail {
    padding: 0;
}

.allowed-language {
    font-weight: bold;
}

.new-translation #items-holder tr:hover td {
    background-color: #f9f9f9;
}

.new-translation .common-error {
    color: #f00;
    padding: 0 0.8em;
    display: none;
}

.new-translation .common-error.show {
    display: inline;
}

.ms-options-wrap>.ms-options>ul label {
    text-align: left;
    padding-left: 0.8em;
}

.new-translation .submit-error {
    overflow: hidden;
}

.new-translation .submit-error ul {
    float: right;
    text-align: left;
}

.new-translation .show-default-attributes {
    display: none;
    text-align: right;
    padding-top: 0.8em;
}

.new-translation .show-default-attributes.show {
    display: block;
}

.new-translation .field-holder.category {
    display: none;
}

.new-translation .field-holder.category.show {
    display: block;
}

.new-translation .items-limit-error {
    color: red;
    float: left;
    display: none;
}

.new-translation .items-limit-error.show {
    display: inline;
}

.translation-module .new-translation #items-holder input[type=text],
.translation-module .new-translation #items-holder select {
    min-width: initial;
}

.translation-module .new-translation #items-holder input[type=text] {
    padding: 0.3em 0.1em;
}

.translation-module .new-translation input[type=text]#datefield {
    min-width: 5em;
}

.translation-module .new-translation ul.multi-select.select-category>li:first-of-type {
    border-bottom: 0.08em solid #efefef;
    margin-bottom: 0.4em;
}

.translation-module .new-translation ul.multi-select.select-category>li:first-of-type label:after {
    content: '\00a1';
    color: #ffffff;
    display: inline-block;
    margin-left: 0.3em;
    width: 1em;
    height: 1.2em;
    background-color: #cccccc;
    border-radius: 50%;
    font-size: 0.7em;
    text-align: center;
    padding: 0.08em 0.08em 0.16em 0.16em;
    position: relative;
    top: -0.1em;
}

.translation-module .new-translation ul.multi-select.select-category>li ul {
    margin-left: 0.8em;
}

#filtertableProjects tfoot {
    display: table-header-group;
}

#filtertableProjects tfoot tr th {
    border-bottom: 0.08em solid #dadada;
}

#filtertableProjects tfoot tr th div button {
    min-width: 12em;
}

/* Follow up page */
.followup .status-diagram table {
    background-color: #dedede;
    max-width: 50%;
    table-layout: fixed;
}

.followup .status-diagram table th {
    background-color: #efefef;
    padding: 0.4em;
    font-weight: normal;
}

.followup .status-diagram table td {
    text-align: center;
    padding: 0.4em;
    background-color: #ffffff;
}

.followup .status-diagram table td span {
    display: block;
}

.followup .status-diagram table td span.percent {
    font-size: 1.5em;
    font-weight: bold;
}

.followup .status-diagram table td span.count {
    background-color: #dedede;
    color: #ffffff;
    padding: 0.08em 0 0em;
}

.followup table td.action {
    position: relative;
}

.followup table td.action a.review-link {
    cursor: default;
}

.followup .load-more {
    text-align: right;
    margin-top: 1.5em;
    display: none;
}

.followup .load-more.show {
    display: block;
}

.followup .load-more input[type=button] {
    font-size: 1.3em;
    padding: 0.4em 1em;
}

/* Place order page */
.place-order .attribute-list {
    display: inline-block;
    text-align: left;
}

.place-order .submit-error {
    text-align: right;
}

.place-order #reload-templates {
    margin: 0 0 0.4em 0.8em;
}

.place-order #progress-holder {
    border: 0.08em solid #3AB5CF;
    display: none;
}

.place-order #progress-holder .progress-bar {
    background-color: #3AB5CF;
    width: 0%;
    height: 0.8em;
    transition: width linear 0.5s;
}

.translation-module .place-order select {
    min-width: 14em;
}

/*Notification*/
.notification .form-holder {
    border: 0.08em solid #DADADA;
    margin-top: 0.8em;
    padding: 0.8em;
}

.notification .button-holder {
    margin-top: 1.5em;
}

/* Default attributes settings */
.default-attributes .show-all-attributes,
.default-attributes .show-default-attributes {
    display: none;
}

.default-attributes .submit-error {
    text-align: right;
}

.registration .success-message,
.default-attributes .success-message,
.followup .success-message {
    color: #009900;
    border: 0.08em solid #009900;
    padding: 0.4em;
    margin-bottom: 0.4em;
    text-align: center;
    font-weight: bold;
    border-radius: 0.4em;
    background-color: #e5efd3;
    display: none;
}

.success-message.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

.registration .success-message.show,
.default-attributes .success-message.show,
.followup .success-message.show,
.registration .error {
    display: block;
}

.registration .error:empty {
    display: inline;
}

.translation-module input[type=button].clear-cache {
    margin-left: 1.5em;
}

span.cache-message {
    color: green;
}

/* Quote */
.quote .notification {
    text-align: center;
}

/* Language Mapping */
.language-mapping #mappingList th {
    padding: 0.8em 0;
    color: #8e9092;
}

.language-mapping #mappingList td {
    padding: 0.7em 0.01em;
}

.language-mapping select {
    height: 2.5em;
}

.language-mapping input.save-mapping,
.language-mapping input.cancel-mapping {
    padding: 0.6em 1.5em;
    background-color: #7b7d7f;
    color: #fff;
}

.language-mapping input.save-mapping[disabled],
.language-mapping input.cancel-mapping[disabled] {
    background-color: #e1e4e6;
}

.language-mapping .button.main-action.add-mapping {
    background-color: #e1e4e6;
    color: #282828;
    margin-top: 0.8em;
    padding: 0.6em 1.2em;
}

.language-mapping .button.main-action.add-mapping[disabled] {
    color: #fff;
}

.language-mapping .actions {
    text-align: center;
}

.language-mapping .actions img {
    margin: 0 0.5em;
}

.language-mapping .actions img:hover {
    margin: 0 0.5em;
    box-shadow: 0em 0.08em 0.8em 0.08em #aaa;
    cursor: pointer;
}

.language-mapping .form-mode .actions img {
    opacity: 0.2;
}

.language-mapping .form-mode .actions img:hover {
    box-shadow: none;
    cursor: default;
}

.language-mapping td.store-enabled {
    font-weight: bold;
}

.no-data-message {
    text-align: center;
    padding: 0.8em;
}

.actions-translate {
    background-color: #cbe6df;
}

.translate-action-error {
    color: #FF0000;
}

.translation-module .project-name-reference {
    padding: 0 0 0.8em 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.06em solid #DADADA;
    margin: 0 4% 0.5em;
}

.project-data > div {
    width: 50%;
    display: inline-block;
}

.project-data .right {
    float: right;
}

.project-data .left .value {
    font-weight: bold;
}

.translation-module .project-data {
    margin: 0 4% 2em;
}

#filterTableDocuments_wrapper {
    border-top: 0.08em solid #DADADA;
    padding-top: 0.7em;
    margin: 0 4%;
}

.textmaster-view {
    float: right;
    padding: 0.4em;
    font-weight: bold;
    position: relative;
    margin-right: 4%;
}

.textmaster-view a {
    position: absolute;
    white-space: nowrap;
    color: #2461a7;
    right: 0;
    bottom: 0.97em;
}

.docs-followup .load-more input[type=button] {
    margin-right: 3.5em
}

.dashboard-action-button {
    border-radius: 0.7em;
    border: 0.063em solid #60746f;
    padding: 0.5em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.actions-validate {
    background-color: #c9daa9;
}

.followup table.dataTable tr td:last-of-type {
    text-align: center;
}

.hide {
    display: none;
}

/* Responsive */
@media screen and (max-width:2732px) {
    .new-translation #items-holder .item-label {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 25em;
        overflow: hidden;
    }
}

@media screen and (max-width:1400px) {
    .new-translation #items-holder .item-label {
        max-width: 18em;
    }
}
